/.settings/
/target/
/bin/
/lib/
/.idea/
/classes/
/caches/
/deamon/
/native/
/.vertx/
/.gradle/
/logs/
/out/
/wrapper/
/gradle/wrapper/gradle-wrapper.properties
.classpath
.project
.springBeans
#*.DS_store